## List

In [ ]:
cities = ["New York", "Miami", "Chicago", "San Francisco", "Los Angeles"]
print (cities)

In [3]:
cities.append ("Washington DC")
print (cities)

['New York', 'Miami', 'Chicago', 'San Francisco', 'Los Angeles', 'Washington DC', 'Washington DC']

In [4]:
cities.pop(1)
print (cities)

['New York', 'Chicago', 'San Francisco', 'Los Angeles', 'Washington DC', 'Washington DC']

In [5]:
print (cities[3])

Los Angeles

In [6]:
list = [10, 20, 30, 40, 50, 60]
sub_list = (list[2:5])
print (list)
print (sub_list)

[10, 20, 30, 40, 50, 60]
[30, 40, 50]

In [9]:
people = [["Anna", 25, "Blue"], ["John", 27, "Orange"], ["Mary", 28, "Red"]]
print (people)

[['Anna', 25, 'Blue'], ['John', 27, 'Orange'], ['Mary', 28, 'Red']]

## Dictionaries

In [15]:
book = {
    "title" : "The Choice",
    "author" : "Eva Eger",
    "published year" : 2017
}
print (book)

{'title': 'The Choice', 'author': 'Eva Eger', 'published year': 2017}

In [16]:
book ["published year"] = 2023
print (book)

{'title': 'The Choice', 'author': 'Eva Eger', 'published year': 2023}

In [17]:
book.keys()

dict_keys(['title', 'author', 'published year'])

In [18]:
person = {"name": "John", "address": {"city": "NY", "zipcode": "10001"}}
print (person)
print (person["address"]["zipcode"])

{'name': 'John', 'address': {'city': 'NY', 'zipcode': '10001'}}
10001

## Tuples

In [22]:
movies = ("Erin Brockovich", "Home Alone", "Avatar")
print (movies)

('Erin Brockovich', 'Home Alone', 'Avatar')

In [24]:
if "Avatar" in movies:
          print ("Love this movie")
else:
          print ("Watch it!")

Love this movie

In [25]:
#Immutable-can't be changed
movies[1] = "Titanic"

TypeError: 'tuple' object does not support item assignment

## Sets

In [26]:
fruits = {"apple", "orange", "peach"}
print (fruits)

{'orange', 'apple', 'peach'}

In [27]:
fruits.add("pear")
print (fruits)

{'orange', 'pear', 'apple', 'peach'}

In [28]:
if "apple" in fruits:
    print ("I have an apple")
else:
    print ("I dont have an apple")

I have an apple

In [29]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
intersection = set.intersection(A,B)
print (intersection)

{3, 4}

In [30]:
union = A.union(B)
print(union)

{1, 2, 3, 4, 5, 6}

## Booleans

In [32]:
5 > 3

True

In [33]:
5 > 8 or 3 < 4

True

In [34]:
a = 5
b = 8
a == b

False

In [35]:
a != b

True